@page "/Error"
@using System.Diagnostics

<PageTitle>@L["Error.PageTitle"]</PageTitle>

<h1 class="text-danger">@L["Error.Heading"]</h1>
<h2 class="text-danger">@L["Error.Subheading"]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@L["Error.RequestId.Label"]</strong> <code>@RequestId</code>
    </p>
}

<h3>@L["Error.DevelopmentMode.Heading"]</h3>
<p>@L["Error.DevelopmentMode.Intro"]</p>
<p>
    <strong>@L["Error.DevelopmentMode.Warning"]</strong>
    @L["Error.DevelopmentMode.Instructions"]
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
